html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: Ubuntu, avenir next, avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Cantarell, "Helvetica Neue", sans-serif;
}

main {
  margin-bottom: 8em;
}

a {
  color: #333;
  font-weight: 700;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #666;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
  color: #666;
  font-size: 1em;
  cursor: pointer;
  background-color: #fff;
  padding-top: 0.5em;
  border-radius: 1.2em;
  border-width: 2px;
  border-color: #666;
  border-style: solid;
  min-width: 44px;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
  pointer-events: initial;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

#version-info {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  font-size: 0.5em;
  color: #666;
}

.centered-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#preview-stage {
  width: 512px;
  height: 512px;
  border-radius: 25%;
  border: 1vmin solid hsl(0, 0%, 42%);
  box-shadow: 0 0 -1vmin -1vmin hsl(0, 0%, 10%);
  background: linear-gradient(to bottom, hsl(211, 25%, 60%) 30%, hsl(211, 25%, 40%) 100%);
  margin-bottom: 1em;
}

.hidden {
  display: none;
  visibility: hidden;
}

.inner-shine {
  margin-left: 5%;
  margin-top: 5%;
  border-radius: 20%;
  width: 90%;
  height: 90%;
  background: linear-gradient(to bottom, hsl(0, 0%, 100%) 0%, hsla(0, 0%, 100%, 0) 30%);
  justify-content: center;
}

#emoji-text {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 10em;
  font-family: "Helvetica Neue", Ubuntu, sans-serif;
  font-weight: bold;
}

.result {
  margin-top: 2em;
}

.form ul {
  list-style-type: none;
}

.font-size-subform {
  display: flex;
  align-items: center;
}

#font-size-slider {
  margin-bottom: 0;
}

#font-size-label {
  margin-left: 0.5em;
}

#result-instruction {
  margin-top: 1em;
}
